html
	-var title='All posts'
	include includes/head.pug
	body
		include includes/loggedinnav.pug
		h5 User : #{user.name} #{user.lastname}
		div.row
				each post in result
					div.message.col.s12.col.m10.col.offset-m1
						ul.collapsible.popout(data-collapsible='expandable')
							li
								.collapsible-header.active
									div.row.titlehead
										div.col.m9
											i.material-icons chat_bubble_outline
											h5#leTitle #{post.title}
										div.col.m3
											p by #{post.user.name} #{post.user.lastname}									
								.collapsible-body
									div.row
										div.col.s12.col.m10.col.offset-m1
											p.thetext #{post.body}
											p.timestamp.right-align #{post.createdAt}		
							li
								.collapsible-header
									i.material-icons note_add
									| Leave a comment
								.collapsible-body
									form.bulletin(action='/commentonpost', method='post')
										input#postTitle(type='text', name='postId', value=post.id, hidden)
										div.row
											div
												textarea(rows="10" cols="50" type='text', name="bericht" placeholder="Let it all out..." required)
											div.right-align
												input#searchbutton.waves-effect.waves-light.btn.btn-flat(type='submit', value='Leave comment')
							li
								.collapsible-header
									i.material-icons library_books
									| See all comments
								.collapsible-body
										div.row
											div.col.s12.col.m10.col.offset-m1
												if post.comments
													each comment in post.comments
														p.thetext #{comment.body}
														P.right-align left by: #{comment.user.name} #{comment.user.lastname}
