html
	-var title='All posts'
	include includes/head.pug
	body
		if user
			include includes/loggedinnav.pug
			include includes/commentscript.pug
			h5 User : #{user.name} #{user.lastname}
			div.row
					each thing in result
						div.message.col.s12.col.m10.col.offset-m1
							ul.collapsible.popout(data-collapsible='accordion')
								li
									.collapsible-header.active
										div.row.titlehead
											div.col.m9
												i.material-icons chat_bubble_outline
												h5 #{thing.title}
											div.col.m3
												p by #{thing.user.name} #{thing.user.lastname}									
									.collapsible-body
										div.row
											div.col.s12.col.m10.col.offset-m1
												p.thetext #{thing.body}
												p.timestamp.right-align #{thing.createdAt}		
								li
									.collapsible-header
										i.material-icons note_add
										| Leave a comment
									.collapsible-body
										form.bulletin(action='/commentonpost', method='post')
											div.row
												div
													input(type='text', autofocus, name='title', placeholder="Title" required)
												div
													textarea(rows="10" cols="50" type='text', name="bericht" placeholder="Let it all out..." required)
												div.right-align
													input#searchbutton.waves-effect.waves-light.btn.btn-flat(type='submit', value='Leave comment')
								li
									.collapsible-header
										i.material-icons library_books
										| See all comments
									.collapsible-body
										//- each thing2 in result2
										//- 	div.row
										//- 		div.col.s12.col.m10.col.offset-m1
										//- 			p.thetext #{thing2.body}
										//- 			p.timestamp.right-align #{thing2.createdAt}	
		else
			-var login='Please login to view this page'
			include includes/notloggedin.pug	

