html
	-var title='My posts'
	include includes/head.pug
	body
		if user
			include includes/loggedinnav.pug
			h5 #{user.name} #{user.lastname}
			div.row
					each post in result
						if post.userId == user.id
							div.message.col.s12.col.m10.col.offset-m1
								ul.collapsible(data-collapsible='expandable')
									li
										.collapsible-header.active
											div.row.titlehead
												div.col.m9
													i.material-icons chat_bubble_outline
													h5 #{post.title}
										.collapsible-body
											div.row
												div.col.s12.col.m10.col.offset-m1
													p.thetext #{post.body}
													p.timestamp.right-align #{post.createdAt}		
									li
										.collapsible-header
											i.material-icons library_books
											| See all comments
										.collapsible-body
												div.row
													div.col.s12.col.m10.col.offset-m1
														if post.comments
															each comment in post.comments
																p.thetext #{comment.body}
																P.right-align left by: #{comment.user.name} #{comment.user.lastname}
		else
			-var login='Please login to view this page'
			include includes/notloggedin.pug	